body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* Light mode background */
  color: #333; /* Light mode text color */
}

body.dark-mode {
  background-color: #333; /* Dark mode background */
  color: #f0f0f0; /* Dark mode text color */
}

.container {
  text-align: center;
}

body.dark-mode .container {
  background-color: #444; /* Dark mode container background */
  border-radius: 8px;
  padding: 20px;
}

.lotto-numbers {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.lotto-number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff; /* Light mode lotto number background */
  border: 1px solid #ccc; /* Light mode lotto number border */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

body.dark-mode .lotto-number {
  background-color: #555; /* Dark mode lotto number background */
  border: 1px solid #777; /* Dark mode lotto number border */
  color: #eee;
}

#generate-button, #theme-toggle-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px; /* Add some margin for spacing */
}

body.dark-mode #generate-button,
body.dark-mode #theme-toggle-button {
  background-color: #666;
  color: #eee;
  border: 1px solid #888;
}