body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* Light mode background */
  color: #333; /* Light mode text color */
  margin: 0;
}

body.dark-mode {
  background-color: #333; /* Dark mode background */
  color: #f0f0f0; /* Dark mode text color */
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Adjust as needed */
  width: 100%;
}

body.dark-mode .container {
  background-color: #444; /* Dark mode container background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#theme-toggle-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px; /* Add some margin for spacing */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

#theme-toggle-button:hover {
  background-color: #0056b3;
}

body.dark-mode #theme-toggle-button {
  background-color: #666;
  color: #eee;
  border: 1px solid #888;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
body.dark-mode #theme-toggle-button:hover {
  background-color: #777;
}